 body{
    margin: 0 auto;  
    font-family: "sejoeui";
    background-image:url(blue.jpg);
    background-color: white;
}

.a {
    padding: 0 auto;
    margin: 0 auto;
    width: 10vh;
}

.g{
    width: 100vw;
    height: 100vh;
}
.b {
        padding: 0 auto;
        margin: 0 auto;
        width: 100vw;
        height: 100vh;
}

.c {
        height: 10vh;
}

.tytle {
    transform: translateY(300%);
    width: 10vh;
    background-color: #53585D ;
    margin : 0 auto;
    display: block;
    border-radius: 100px;
    
}

.stikyHeader{
    position:fixed;
    /* justify-content: center; */
    text-align: center;
    margin:auto;
    width: 100%;
    top: 0%;
    z-index: 1;
    height: 50px;
    /* background-color: white; */
}